<h2>Por país</h2>
<hr/>
<div class="row">
    <div class="col">
        <app-input (onEnter)="buscar($event)" (onDebounce)="sugerencia($event)"></app-input>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let pais of sugeridos" class="list-group-item"><a [routerLink]="['/ver-pais', pais.alpha2Code]" class="nav-link">{{pais.name}}</a></li>
</ul>
<hr/>
<div class="aler alert-danger" *ngIf="error">
    No hay resultados para esta
</div>
<div class="row">
    <div class="col">
        <app-tabla [paises]="paises"></app-tabla>
    </div>
</div>